* {
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 1.5rem;
}

button {
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #1e1e1e;
}

th,
td {
  padding: 10px;
}

li {
  list-style: none;
}
